/* Navbar Styling */
.btn-outline-success {
    color: #16697a;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    background-color: #82C0CC;
}

.navbar-brand {
    font-family: 'Arvo', serif;
}

#navbar-username {
    margin-right: 10px;
}

/* General Styling */
h1, h2, h3, h4, h5, h6 {
    color: #16697A;
    font-family: 'Arvo', serif;
}

h1 {
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #489FB5;
}

button {
    border-radius: 10px;
}

.btn-outline-primary {
    color: #3691A7;
    border-color: #3691A7;
    border-radius: 10px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #82C0CC;
    border-color: #82C0CC;
}

.btn-primary {
    background-color: #489FB5;
    border-color: #489FB5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #16697A;
    border-color: #16697A;
}

.page-header {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.widen-form {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Homepage-specific Styling */

#homepage-egg {
    width: 90%;
}

#homepage-column-1 {
    display: flex;
    justify-content: center;
}

#homepage-column-2 {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Profile-specific styling */

#egg-mascot {
    width: 100%;
}

#visits-lists-row {
    margin-bottom: 25px;
    flex-direction: row-reverse;
}

#visits-div {
    max-height: 20vh;
}

#lists-div {
    max-height: 20vh;
}

#achievements-div {
    max-height: 50vh;
}

#search-button-profile {
    margin-bottom: 25px;
}


/* Restaurant Search Form-specific styling */

#unit {
    background-color: #489FB5;
    border:#489FB5;
    color: white;
    border-radius: 5px;
}

#restaurant-search-result {
    font-size: 20px;
}

#search-results-div {
    margin-left: 10px;
}


/* Restaurant Details Page-specific styling */

#restaurant-details-header {
    margin-top: 10px;
}

#yelp-image {
    width: 100%;
}

#restaurant-details-row-1 {
    margin-top: 20px;
}

#list-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#visit-div {
    margin-top: 20px;
}

#edit-tags-div {
    margin-top: 20px;
}

#delete-tags-button {
    margin-top: 10px;
}

#transactions {
    margin-top: 25px;
    margin-bottom: 10px;
}

#hours {
    margin-bottom: 25px;
}


/* List Creation Page-specific styling */

#list-ideas-div {
    margin-top: 25px;
}

#list-ideas-list {
    margin-left: 20px;
}


/* List Details Page-specific styling */

.list-item {
    font-size: 20px;
}

#delete-item-div {
    margin-left: 10px;
}

#delete-list-button {
    margin-top: 35px;
}


/* Leaderboard-specific styling */

.table-primary td {
    background-color:#DCEDF1;
}