{% extends 'base.html' %}
{% block title %}Customize Sunny{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="page-header">
        <h1>Customize Sunny</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="/static/img/egg-basic.PNG" id="egg-mascot-edit-page">
        </div>
        <div class="col-6" id="hats-div">
            <h2 id="unlocked-hats-heading">Unlocked Hats</h2>
            <div class="row" id="hats-display">
                {% if unlocked_hats %}
                    {% for hat in unlocked_hats %}
                        <button class="btn btn-primary hat-option" id="{{ hat }}">{{ hat }}</button>
                    {% endfor %}
                {% else %}
                <div class="col-12" id="no-unlocked-hats">
                    <p>You haven't unlocked any hats yet.</p>
                    <br>
                    <p>Try creating a list or marking a restaurant as visited and see what happens!</p>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    <form action="/profile/{{ user.user_id }}">
        <button type="submit" class="btn btn-primary" id="back-to-profile-button">Save and Return</button>
    </form>
</div>

<script src="/static/js/customize-egg.js"></script>

{% endblock %}