{% extends 'base.html' %}
{% block title %}{{ Leaderboard }}{% endblock %}

{% block body %}

<h1>Achievement Leaderboard</h1>

<table>
    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Achievements</th>
        <th>Points</th>
    </tr>
    {% for i, top_user in enumerate(top_ten) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td><a href="/profile/{{ top_user.user_id }}">{{ top_user.username }}</a></td>
                <td>{{ top_user.num_achievements }}</td>
                <td>{{ top_user.total_points }}</td>
            </tr>
    {% endfor %}
    {% if not user_in_top_ten %}
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td>{{ user_rank }}</td>
                <td><a href="/profile/{{ user.user_id }}">{{ user.username }}</a></td>
                <td>{{ user.num_achievements }}</td>
                <td>{{ user.total_points }}</td>
            </tr>
    {% endif %}
</table>

{% endblock %}