{% extends 'base.html' %}
{% block title %}Create a new list!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="page-header">
        <h1>Create a New List</h1>
    </div>
    <div class="row">
        <form action="/newlist/go">
            <div class="col-12 col-md-9 col-xl-6">
                <label for="listname" class="form-label">List Name *</label>
                <input class="form-control" id="listname" type="text" name="listname" required>
            </div>

            <br>

            <div class="col-12 col-md-9 col-xl-6">
                <label for="description" class="form-label">Description</label>
                <input class="form-control" id="description" type="text" name="description">
            </div>

            <br>

            <div>
                <input class="btn btn-primary" type="submit" value="Create List">
            </div>
        </form> 
    </div>
    <div class="row" id="list-ideas-div">
        <p>Here are some list ideas to get you started: </p>
        <ul id="list-ideas-list">
            <li>Wishlist</li>
            <li>Favorites</li>
            <li>Date Night Ideas</li>
            <li>Taco Tuesday</li>
            <li>Summer Eats</li>
            <li>...or any other thing you want to keep track of!</li>
        </ul>
    </div>
</div>

{% endblock %}