{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block body %}

<h1>Your profile page</h1>

<p> User ID: {{ user.user_id }}</p>

<p> Username: {{ user.username }}</p>

<p><a href="/search">Search for restaurants!</a></p>

<div id="visits-div">
    <h3>{{ user.username }}'s visited restaurants</h3>
    <ul>
        {% if user.visits %}
        {% for visit in user.visits %}
            <li><a href="/restaurant/{{ visit.yelp_id }}">{{ visit.name }}</a></li>
        {% endfor %}
        {% else %}
            {{ user.username }} hasn't visited any restaurants yet.
        {% endif %}
    </ul>

</div>

<div id="lists-div">
    <h3>{{ user.username }}'s lists</h3>
    <a href="/newlist">Create a new list!</a>
    <ul>
        {% if user.lists %}
            {% for list in user.lists %}
                <li><a href="/list/{{ list.list_id }}">{{ list.name }}</a></li>
            {% endfor %}
        {% else %}
            {{ user.username }} hasn't made any lists yet.
        {% endif %}
    </ul>
</div>

<div id="achievements-div">
    <h3>{{ user.username }}'s achievements</h3>
    {% if user.achievements %}
        {% for achievement in user.achievements %}
            <div>
                <h5>{{ achievement.name }}</h5>
                <i>{{ achievement.description }}</i>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ user.username }} hasn't earned any achievements yet.</p>
        <p>Try creating a wishlist or marking a restaurant as visited and see what happens!</p>
    {% endif %}
</div>

<form action="/logout">
<button type="submit" id="logout-button">Log Out</button>
</form>

{% endblock %}