{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block body %}

<h1>Your profile page</h1>

<p> User ID: {{ user.user_id }}</p>

<p> Username: {{ user.username }}</p>

<p><a href="/search">Search for restaurants!</a></p>

<div id="visits">
    <h3>{{ user.username }}'s visited restaurants</h3>
    <ul>
        {% if user.visits %}
        {% for visit in user.visits %}
            <li>{{ visit.name }}</li>
        {% endfor %}
        {% else %}
            {{ user.username }} hasn't visited any restaurants yet.
        {% endif %}
    </ul>

</div>

<div id="lists">
    <h3>{{ user.username }}'s lists</h3>
    <a href="/newlist">Create a list!</a>
    <ul>
        {% if user.lists %}
            {% for list in user.lists %}
                <li>{{ list.name }}</li>
            {% endfor %}
        {% else %}
            {{ user.username }} hasn't made any lists yet.
        {% endif %}
    </ul>
</div>

{% endblock %}