{% extends 'base.html' %}
{% block title %}Search for Restaurants!{% endblock %}

{% block body %}

<h1>Search for Restaurants</h1>

<form action="/search/go">
    <div>
        <label for="keywords">Search by Keyword</label>
        <input id="keywords" type="text" name="keywords">
    </div>

    <br>

    <div>
        <label for="location">Location</label>
        <input id="location" type="text" name="location" required> *
        <p><i>Please enter a city, address, or ZIP code</i></p>
    </div>

    <br>

    <div>
        <label for="radius">Radius</label>
        <input id="radius" type="text" name="radius">
        <select name="unit" id="unit">
            <option value="miles">miles</option>
            <option value="kilometers">kilometers</option>
        </select>
    </div>

    <br>

    <div>
    <input type="submit" value="Let's Eggsplore!">
    </div>

</form>

{% endblock %}